<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/blog.css">
</head>
<body>
    <div class="blog">
    <p>
        <h1>22nd of March, 2023</h1>
        <p class="Topic">Inside the tribunal: A defining Trail to challenge the Nigerian Judiciary as the hope of a Common Man.</p>
        <p class="f">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi necessitatibus temporibus iste rem, nihil totam ipsam optio porro voluptatibus quia consequuntur? Veritatis exercitationem perferendis obcaecati hic atque rerum esse adipisci.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo in sit eum ex alias aperiam, impedit quae deserunt voluptatibus quis, eos ab at iure inventore repudiandae reiciendis quibusdam magnam dignissimos?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id velit blanditiis libero, deserunt ipsa, laudantium officiis quam quasi, illum similique aliquam optio eligendi nulla sunt nobis laborum molestiae est quibusdam.</p>
        <button type="button" onclick="location.href='blog2.html'">Read more.....</button><br><br>
        

        <h1>22nd of March, 2023</h1>

        <p class="Topic">Inside the tribunal: A defining Trail to challenge the Nigerian Judiciary as the hope of a Common Man.</p>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi necessitatibus temporibus iste rem, nihil totam ipsam optio porro voluptatibus quia consequuntur? Veritatis exercitationem perferendis obcaecati hic atque rerum esse adipisci.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia explicabo inventore praesentium, exercitationem nisi, architecto, ipsa deleniti tenetur maiores eum impedit ducimus molestiae minus. Provident excepturi ex soluta odio!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia explicabo inventore praesentium, exercitationem nisi, architecto, ipsa deleniti tenetur maiores eum impedit ducimus molestiae minus. Provident excepturi ex soluta odio!</p>
    </p>
    </div>
</body>
</html>