<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/blog2.css">
</head>
<body>
    <div class="blog2">
        <p>
            <h1>22nd of March, 2023</h1>
            <p class="Topic">Inside the tribunal: A defining Trail to challenge the Nigerian Judiciary Continuation</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi necessitatibus temporibus iste rem, nihil totam ipsam optio porro voluptatibus quia consequuntur? Veritatis exercitationem perferendis obcaecati hic atque rerum esse adipisci. <br> <br>


                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio iste ducimus similique nulla temporibus veritatis qui! Vel natus, ipsum ad quo qui quam. Laudantium dolores, ullam tempora magnam rem sed. <br><br><br>
    
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo in sit eum ex alias aperiam, impedit quae deserunt voluptatibus quis, eos ab at iure inventore repudiandae reiciendis quibusdam magnam dignissimos? <br><br>
    
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id eligendi, sed maiores dolor labore possimus vero consectetur fugit neque aliquam laudantium a dolorum repellat molestiae beatae exercitationem nam, optio perferendis? <br><br>

                Lorem ipsum dolor sit amet consectetur adipisicing elit. A quasi sapiente magnam expedita cumque dolores laboriosam! Tenetur delectus, cupiditate nihil eaque iusto ratione maxime eius iste ad exercitationem possimus vitae.
            </p>
</body>
</html>