<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/new.css">
</head>
<body>
    <div class="outter">
        <h1>CONTACT US</h1>
        <h3>Contact For Any <br> Queries</h3>
        <div class="inner">
            <form action="">
                <input type="text" placeholder="Your Name" class="name"><br><br>

                <input type="text" placeholder="Your Email" class="email"><br><br>

                <input type="text" placeholder="Subject" class="Subject"><br><br>
                
                <input type="text" placeholder="Message" class="Message"><br><br>

                <button>Send Message</button>
            </form>
        </div>
    </div>
</body>
</html>